<section class="container-fluid signIn-content">
    <div class="row">
        <div class="col-lg-6 col-sm-6 col-xs-12 align-self-start pt-5">
            <h2>Login</h2>
            <p>Get access to your Orders, Wishists and Recommendations</p>
        </div>
        <div class="col-lg-6 col-sm-6 col-xs-12">
            <form class="login-form">
                <div class="form-group">
                    <input type="email" class="form-control" name="email" id="email" required>
                    <label for="email" class="form-label">Email</label>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" id="password" required>
                    <label for="password" class="form-label">Password</label>
                </div>
                <button type="submit" class="btn btn-bazar">Login</button>
            </form>
        </div>
    </div>
</section>