$color-lightgray: #efe8e8;
$color-darkpink: #d85d73;
$color-linkfont: rgb(54, 48, 48);
$color-linkfontLight: rgb(102, 98, 98);
$color-registerBorder: rgba(60, 187, 204);
$color-white: #fff;
$color-black: rgb(24, 20, 20);
$color-grey: rgb(242, 243, 237);
$color-darkgrey: rgb(164, 165, 160);

/*
// Mixins
*/

@mixin sm {
    @media (max-width: 576px) {
        @content;
    }
}

@mixin md {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin home1000{
    @media (max-width: 1000px) {
        @content;
    }
}



// helper
.hidden {
    display: none !important;
}